<!DOCTYPE html>
<html>
<head>
	<title>Transfer Form</title>
</head>
<body>
	<p>Input the student's name, and the new campus</p>
	<form action="/new_campus" method="POST">
    	<input type="text" name="name" placeholder="Name">
	    <input type="text" name="new_campus" placeholder="new_campus">
    	<button type="submit">Submit</button>
    </form>
</body>
</html>
