
.holder {
	position: relative;
}
.base {
	position: relative;
	width: 70%;
	left: 15%;
	padding-top:20%;
	z-index: -1;
}
.hat {
	position: absolute;
	width:80%;
	left:15%;
}
.glasses {
	position: absolute;
	width:46%;
	left:28%;
	top:45%;
}
